*.aux
*.bbl
*.blg
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.out
*.xdv
*.toc
*.lof
*.lot
references.bib
_senior_template/
degree_exam_submit.pdf
merge_04_degree_exam.pdf
merge_cover.pdf
merge_title.pdf
merge_thesis_only.pdf
